body {
	background: 
		linear-gradient(rgba(255, 255, 255, 0.6), 
		rgba(255, 255, 255, 0.6)), 
		url("https://pintglassldn.com/storage/images/home-image.jpg"); 
	background-size: cover; 
	background-position: center center;
}

.btn.btn-primary {
	background: #000;
	border: none;
	border-radius: .5em; 
	color: #fff;
}